.DS_Store

verif/nonuvm/**/build
synth/subblock/**/build
synth/fc/build
external_ip/amd/**/build

####################################################################################################
# Verilator
####################################################################################################
verif/nonuvm/legacy/verilator_firsttb/obj_dir
verif/nonuvm/legacy/core_s1/obj_dir
verif/nonuvm/legacy/behavioural_memory_devel_tb/obj_dir
verif/nonuvm/legacy/fifo_tb/obj_dir


####################################################################################################
# Vivado
####################################################################################################
ide/coraz7_vivado/letc.cache
ide/coraz7_vivado/letc.runs
ide/coraz7_vivado/letc.sim
ide/coraz7_vivado/letc.gen
ide/coraz7_vivado/letc.ip_user_files
